* {
  box-sizing: border-box;
}


Body {
    background-color: rgba(224, 221, 218, 0.468);
    background-image: url(https://images.pexels.com/photos/24405942/pexels-photo-24405942/free-photo-of-abstract-purple-shapes-on-sky.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
}

header {
  text-align: center;
  color: #f2eff5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: #f2f0f0c5;
  border-style: dotted;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  font-size: 25pt;
  }

nav {
  display: flex;
  background-color: #c878cea1;
  opacity: .5;
  color:rgb(255, 255, 255);
  font-family: monaco;
  font-size: 15pt;
  }

  li {
    display: inline;
    Margin-right: 10px;
  }

  .light-bulb {
    height: 200px;
    width: 100%;
    margin-bottom: 5px;
    background-image: url(https://images.pexels.com/photos/3872166/pexels-photo-3872166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
    
}
  .content {
    width: 65%;
    display: inline-block;
    margin-left: 20px;
  }


  .Challenge {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: Monaco;
    text-align: right;
    color: #0a0829;
    border: #d5d4d6;
    border-style: dotted;
    background-color: aliceblue;
    opacity: .9;
    
  }

.About-Me {
  margin-right: auto;
  padding: 10px;
  clear: both;
  float: right;
  width: 30%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #d8d8ddd3;
  color: #0e1264;
  font-size: 20pt;
  border-radius: 50px;
  border-color: #2c4a6d;
  box-shadow: #2c4a6d;
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 50px;
}
.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 20pt;
  color:aliceblue;
  background-color: #082f56;
  opacity: .5;
}

.footer h2 {
  font-size: 30px;
  font-style: ;
  font-weight: bold;
  text-decoration: underline;
}
a:link {
  color: pink;
}
a:visited {
  color: rgb(246, 235, 247);

a:hover {
  color: hotpink;
}